.Container {
  display: flex;
  border: 1px solid #808080;
}

.LeftFrame {
  background-color: #F0F0F0;
  flex-basis: 160px;
}

.Splitter {
  width: 20px;
  height: 60px;
  flex-basis: 16px;
  cursor: col-resize; 
  background-color: #360090;
}